<div class="product-carousel">
<p-carousel  
    [value]="filteredProducts" 
    [numVisible]="3" 
    [numScroll]="3" 
    [responsiveOptions]="responsiveOptions"
    [page]="page" 
    (onPage)="handlePageChange($event.page)"
    >
    <ng-template pTemplate="header">
        <h3 class="product-carousel__title-card">{{ showTopProducts ? 'Top Products' : 'Related Products' }}</h3>
    </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-carousel__item"  [routerLink]="['/product', product.id]">
                <div class="product-carousel__image-container">
                    <img 
                        src="{{ product.images.preview }}" 
                        [alt]="product.title" 
                        class="product-carousel__image" />
                    <p-tag 
                        [value]="product.category" 
                        severity="info" 
                        class="product-carousel__tag" />
                </div>
                <div class="product-carousel__title">
                    {{ product.title }}
                </div>
                <div class="product-carousel__footer">
                    <div class="product-carousel__price">
                        {{ product.price | currency }}
                    </div>
                    <!-- <div class="product-carousel__actions">
                        <p-button  icon="pi pi-heart" severity="secondary" [outlined]="true" />
                        <p-button [routerLink]="['/product', product.id]" icon="pi pi-shopping-cart" class="product-carousel__buy-button" />
                    </div> -->
                </div>
            </div>
        </ng-template>
</p-carousel>
</div>
