

<div class="product-page">
  <!-- <p-breadcrumb
  class="product-page__breadcrumb"
  [model]="items"
  [home]="home" /> -->
  <div class="product-page__header">
    <p-button
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      class="back-button"
      [routerLink]="['/inventory']"
    ></p-button>

  </div>

  <div class="product-page-details">

    <div class="product-page-details__image">
      <p-image
        src="{{ product?.images?.preview }}"
        alt="{{ selectedVariant.name }}"
        width="100%"
        [preview]="true" />
      </div>

      <a [routerLink]="['/category', product?.category]" class="product-page-details__category">
        <i class="pi pi-tag product-page-details__category-icon"></i>
        {{ product?.category }}
      </a>
      <h1 class="product-page-details__title">{{ product?.title }}</h1>



      <p class="product-page-details__description">
        {{ selectedVariant.name || product?.description }}
      </p>
      <p class="product-page-details__sku">
        <strong>SKU:</strong> {{ selectedVariant.sku }}
      </p>
      <p class="product-page-details__size">
        <strong>Size:</strong> {{ selectedVariant.size }}
      </p>

      <p class="product-page-details__color">
        <strong>Color:</strong> {{ selectedColor  }} <!-- Muestra el color seleccionado -->
      </p>

      <div class="product-page-details__stock">
        <p class="product-page-details__price">
          {{ selectedVariant.price | currency:product?.currency:'symbol':'1.2-2' }}
        </p>
        <p class="product-page-details__availability">
          <p-tag [severity]="availabilitySeverity" [value]="availabilityStatus"></p-tag>
        </p>
      </div>

      @if (availableColors.length > 0) {
        <div class="product-page-details__colors">
          @for (color of availableColors; track color) {
            <label class="color-selector__option" [ngStyle]="{ 'background-color': getColorHex(color) }">
              <input
                type="radio"
                class="color-selector__input"
                [value]="color"
                [checked]="selectedColor === color"
                (click)="onColorSelect(color)"
                />
              </label>
            }
          </div>
        }


        @if (availableSizes.length > 0) {
          <div class="product-page-details__sizes">
            @for (size of availableSizes; track size) {
              <p-button
                [label]="size"
                [outlined]="true"
                [class]="selectedSize === size ? 'p-button-success' : 'p-button-secondary'"
                severity="contrast"
                (click)="onSizeSelect(size)">
              </p-button>
            }
          </div>
        }





      </div>





    </div>
    <div class="product-page-related">
      <!-- <h2 class="product-page-related__title">Related Products</h2> -->

      <!-- related -->
      <!-- <app-product-carousel [resetPagination]="true" [excludedProduct]="product" [category]="product?.category" [context]="'page'"></app-product-carousel> -->

      <app-product-carousel  [excludedProduct]="product" [showTopProducts]="true" [context]="'page'"></app-product-carousel>
    </div>