

::ng-deep .p-image {
  // background-color: red;
  width: 100%;
  // min-width: 50px;
  // object-fit: cover;


}	
::ng-deep .p-image-preview-container	 {
  // background-color: rgb(0, 226, 71);
  // width: 100%;
  // min-width: 5000px;
  // object-fit: cover;
height: 500px;
}	

.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 1rem;
  width: 80%;
  margin: 0 auto;
  
    &__breadcrumb {
      // padding-bottom: 1rem;
      width: 100%;
    }
  }

.product-page-details {
    // background-color: var(--surface-card);
    // border-radius: var(--border-radius);
    padding: 1rem ;
    margin-top: 1rem;
    // font-family: var(--font-family);
    // color: var(--text-color);
    // background-color: red;
    // padding: 0 1rem;ç
    background-color: var(--surface-card);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px var(--surface-overlay);
    border: 1px solid var(--surface-border);

    // max-width: 86%;
    min-width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between
    // width: 70%;

    &__title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    //   min-height: 3rem;
    //   color: var(--primary-color);
    }
  
    &__image {
    //   max-width: 60%;
    //   max-height: 60%;
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    //   height: auto;
      border-radius: var(--border-radius);
      box-shadow: 0 2px 4px var(--surface-overlay);
    //   margin-bottom: 1rem;
    }
  
    &__price,
    &__category,
    &__description,
    &__rating {
      margin-bottom: 0.5rem;
      font-size: var(--font-size-base);
    }
  
    &__price {
      font-size: 1.2rem;
    //   color: var(--primary-color);
      font-weight: bold;

    }
  
    &__category {
      text-transform: uppercase;
      color: var(--text-color-secondary);
  
      strong {
        color: var(--text-color);
      }

			&-icon {
			margin-left: 0.5rem; 
			color: var(--primary-color); 
			font-size: 1rem; 
			}
    }
  
    &__description {
      font-size: var(--font-size-base);
      color: var(--text-color-secondary);
  
      strong {
        color: var(--text-color);
      }
    }
  
    &__rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;
  
      strong {
        color: var(--text-color);
      }
  
      .rating-icon {
        color: var(--yellow-500);
        font-size: 1rem;
      }
    }
  
    @media (max-width: 768px) {
    //   padding: 1rem;
    width: 100%;
      
      &__title {
        font-size: 1.2rem;
      }
  
      &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
      }
  
      &__price {
        font-size: 1rem;
      }
  
      &__description,
      &__category,
      &__rating {
        font-size: var(--font-size-small);
      }
    }
  }

.product-page-related {
  // padding-top: 1rem;
  margin-top: 1rem;
  // background-color: var(--surface-card);
  // border-radius: var(--border-radius);
  // box-shadow: 0 4px 6px var(--surface-overlay);

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    // margin-bottom: 1rem;
    padding-top: 1.5rem;
    text-align: center;
  }
}

// ::ng-deep .p-carousel-indicators {
//   display: none;
// }
  
::ng-deep .p-menuitem-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
  