

::ng-deep .p-image {
  // background-color: red;
  width: 100%;
  // min-width: 50px;
  // object-fit: cover;
  height: 400px;
  object-fit: cover;
  object-position: center; 
  overflow: hidden;

}	
::ng-deep .p-image-preview-container	 {
  // background-color: rgb(0, 226, 71);
  // width: 100%;
  // min-width: 5000px;
  // object-fit: cover;
  height: 400px;
  object-fit: cover;
  object-position: center; 
  overflow: hidden;
}	
// ::ng-deep .p-carousel-indicators {
//   display: none;
// }


  
::ng-deep .p-menuitem-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-page-details-body {
  // display: flex;
  // flex-direction: column;
  // align-items: left;

  justify-content: space-around;
  // background-color: green;
  // width: 100%;
  // padding: 1rem;
}

.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 60%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;

  background-color: var(--surface-card);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px var(--surface-overlay);
  border: 1px solid var(--surface-border);
  align-items: center;
  

  &__breadcrumb {
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
    // margin: 1rem;
    margin-top: 0.5rem;

    .back-button {
      // margin-right: auto;
      padding-left: 1rem;
    }
  }


  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}

.product-page-details {
  padding: 1rem;
  // margin-top: 1rem;
  // background-color: var(--surface-card);
  // border-radius: var(--border-radius);
  // box-shadow: 0 4px 6px var(--surface-overlay);
  // border: 1px solid var(--surface-border);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 100%;


  &__image {
    width: 100%;
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px var(--surface-overlay);
    // margin-bottom: 1rem;
    overflow: hidden;
  }

  &__category,
  &__description,
  &__color,
  &__size,
  &__price {
    // margin-bottom: 0.5rem;
    margin: 0;
    font-size: var(--font-size-base);
    color: var(--text-color);
    text-decoration: none;
  }

  &__sku,
  &__size, 
  &__color {
    margin: 0;
    font-size: var(--font-size-base);
    // color: var(--text-color);
    color: var(--text-color-secondary);

    strong {
    color: var(--text-color);

    }

  }

  &__category {
    text-transform: uppercase;
    color: var(--text-color-secondary);

    &-icon {
      margin-left: 0.5rem;
      color: var(--primary-color);
      font-size: 1rem;
    }
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    // margin-bottom: 1rem;
  }

  &__description {
    font-size: var(--font-size-base);
    color: var(--text-color-secondary);
  }

  &__price {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem

  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .color-selector__option {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid var(--surface-border);
      position: relative;
      cursor: pointer;
      display: inline-block;

      &:hover {
        border: 3px solid var(--surface-border);
      }

      .color-selector__input {
        position: absolute;
        visibility: hidden;
      }
    }
  }

  &__sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;

    &__image {
      height: 250px;
    }

    &__price {
      font-size: 1rem;
    }

    &__description,
    &__category,
    &__sku,
    &__color {
      font-size: var(--font-size-small);
    }

    &__sizes,
    &__colors {
      justify-content: flex-start;
    }
  }
}

.product-page-related {
  margin-top: 1rem;

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    // padding-top: 1.5rem;
    text-align: center;
  }
}
