<div class="product-page-details">
    <h2 class="product-page-details__title">{{ product?.title }}</h2>
    <img class="product-page-details__image" src="{{product?.image}}" alt="{{product?.title}}">
    <p class="product-details-page__price"><strong>Price:</strong> {{ product?.price | currency:'EUR':'symbol':'1.2-2' }}</p>
    <p class="product-page-details__category">
        <strong>Category:</strong> 
        <i class="pi pi-tag product-page-details__category-icon"></i>
        {{ product?.category }}</p>
    <p class="product-page-details__description"><strong>Description:</strong> {{ product?.description }}</p>
    <p class="product-page-details__rating">
        <strong>Rating:</strong> {{ product?.rating?.rate }} / 5 ({{ product?.rating?.count }} reviews)
        <i class="pi pi-star-fill rating-icon"></i>
    </p>

</div>

<div class="product-page-related">
    <!-- <h2 class="product-page-related__title">Related Products</h2> -->
    <app-product-carousel [resetPagination]="true" [excludedProduct]="product" [category]="product?.category" [context]="'page'"></app-product-carousel>
</div>