<!-- <div class="order-list">
    <p-orderList 
        [value]="products" 
        [listStyle]="{ height: '25rem' }"
        [dragdrop]="true" 
        filterBy="title"
        header="List of Products"
        controlsPosition="right"
        >
        <ng-template let-product pTemplate="item">
            <div class="order-list__item">
                <img 
                    src="{{product.image}}" 
                    [alt]="product.title" 
                    class="order-list__item-image" />
                <div class="order-list__item-info">
                    <span class="order-list__item-name">{{ product.title }}</span>
                    <div class="order-list__item-category">
                        <i class="pi pi-tag order-list__icon"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="order-list__item-price">
                    {{ '$' + product.price }}
                </span>
            </div>
        </ng-template>
    </p-orderList>

</div> -->











<div *ngIf="loading; else productList">
    <!-- Skeleton for the listbox -->
    <div class="product-container">
      <div class="product-list">
        <p-skeleton width="100%" height="40px"></p-skeleton>
        <p-skeleton width="100%" height="40px"></p-skeleton>
        <p-skeleton width="100%" height="40px"></p-skeleton>
      </div>
      
      <div class="product-view">
        <p-skeleton width="100%" height="300px"></p-skeleton>
      </div>
    </div>
  </div>

<ng-template #productList>
<div class="product-container" *ngIf="products && products.length > 0; else noProducts">
    <div class="product-list">
        <p-listbox 
        [options]="products" 
        optionLabel="title"
        (onChange)="onProductSelect($event)"
        [filter]="true"
        filterBy="title"
        [listStyle]="{'max-height': '600px',}" 
        [(ngModel)]="selectedProduct" 
        >
        <ng-template pTemplate="header">
            <h3>Product picker</h3>
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-list__item">
                <!-- <img 
                    src="{{ product.image }}" 
                    alt="{{ product.title }}" 
                    class="product-list__image" 
                /> -->
                <div class="product-list__details">
                    <span class="product-list__title">{{ product.title }}</span>
                    <div class="product-list__category">
                        <i class="pi pi-tag product-list__icon"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="product-list__price">
                    {{ product.price | currency:'EUR':'symbol':'1.2-2' }}
                </span>
            </div>
    
        </ng-template>
    </p-listbox>
    
    </div>
    <div class="product-view">
        <div class="product-view__title-container">
            <h3 class="product-view__title">Product details</h3>

        </div>
        <app-product-detail *ngIf="selectedProduct" [product]="selectedProduct"></app-product-detail>
    </div>
</div>

<ng-template #noProducts>
    <div class="no-products">
    <h3>No products found</h3>
    <p>Please try again later.</p>
    </div>
</ng-template>
</ng-template>