.footer {
    background-color: var(--secondary-color);
    text-align: center;
  }

  .footer p {
    margin: 0;
    font-size: var(--line-height-base);
  }

  // .footer a:hover {
  //   text-decoration: underline; 
  // }
