<footer class="footer">
    <div class="footer__content">
      <p class="footer__text">&copy; 2024 Inventory System.
      </p>
   
      <div class="footer__developer">
        <p> 
          Developed by 
            <a class="footer__link" href="https://github.com/deveduar" target="_blank" rel="noopener noreferrer">&#64;Deveduar</a>
          </p>
        <div class="footer__icons">
          <a class="footer__icon-git" href="https://github.com/deveduar" target="_blank" rel="noopener noreferrer">
            <i class="pi pi-github footer__icon"></i>
          </a>
          <a class="footer__icon-link" href="https://linkedin.com/in/deveduar" target="_blank" rel="noopener noreferrer">
            <i class="pi pi-linkedin footer__icon"></i>
          </a>

        </div>

      </div>
    </div>
  </footer>
  