.footer {
    background-color: var(--surface-50);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--surface-border);
  }

  .footer p {
    margin: 0;
    font-size: var(--line-height-base);
  }

  .footer a {
    text-decoration: none; 
    font-style: bold;
  }
