
<div class="">
    <p-dataView #dv [value]="filteredProducts" [rows]="12" responsiveLayout="stack" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder" >
        <ng-template pTemplate="header">
            <div class="product-nav">
                <div class="product-nav__dropdown">
                <p-dropdown 
                    [options]="sortOptions" 
                    [(ngModel)]="sortField" 
                    placeholder="Sort By Price" 
                    (onChange)="onSortChange($event)" 
                />
                <p-dropdown 
                    [options]="categoryOptions" 
                    [(ngModel)]="selectedCategory" 
                    placeholder="Filter by Category" 
                    (onChange)="onCategoryChange($event)" 
                />
                </div>

                <div class="product-nav__search">
                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-search" />
                        <input type="text" pInputText 
                            [(ngModel)]="searchTerm" 
                            (input)="onSearchChange()" 
                            placeholder="Search products" 
                        />
                    </p-iconField>
                    <div class="product-nav__buttons">
                        <p-dataViewLayoutOptions  />
    
                    </div>
                </div>

            </div>
        </ng-template>
        <ng-template pTemplate="grid" let-products>
            <div class="product-grid">
                <div class="product-grid__item" *ngFor="let item of products">
                    <div class="product-grid__image">
                        <img [src]="item.images.preview" [alt]="item.title" />

                    </div>
                    <div class="product-grid__details">
                        <div class="product-grid__category">
                            <i class="pi pi-tag product-grid__icon"></i>
                            <span >{{ item.category }}</span>
                        </div>
                        <p-tag severity="success" value="Stock" class="product-grid__tag"></p-tag>
                    </div>


                   
                    <div class="product-grid__score">
                        <div class="product-grid__title">{{ item.title }}</div>
                        <div class="product-grid__rating">
                            <p-rating [(ngModel)]="item.rating.rate" [readonly]="true" [cancel]="false" />
                        </div>

                    </div>
                    
                    
                    <!-- <div class="product-grid__status">
                        <div class="product-grid__rate">
                            <div class="product-grid__rating">
                                <span>{{ item.rating.rate }}</span>
                                <i class="pi pi-star-fill"></i>
                            </div>
                        </div>
                    </div> -->
                    <div class="product-grid__actions">
                        <div class="product-grid__price">{{ '€' + item.price }}</div>

                        <div class="product-grid__buttons">
                            <!-- <p-button icon="pi pi-heart" [outlined]="true"></p-button> -->

                            <p-button [routerLink]="['/product', item.id]" icon="pi pi-shopping-cart" label="" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>     
        <ng-template let-product pTemplate="list" let-products>
            <div class="product-list">
                <div class="product-list__item" *ngFor="let item of products">
                    <div class="product-list__image-container">
                        <img class="product-list__image" [src]="item.images.preview" [alt]="item.title" />
                    </div>
                    <div class="product-list__details">
                        <div class="product-list__category">
                            <i class="pi pi-tag product-list__icon"></i>
                            <span >{{ item.category }}</span>
                        </div>
                        <div class="product-list__title">{{ item.title }}</div>
                        <div class="product-list__tag-rate">
                            <div class="product-list__rating-container">
                                <!-- <span class="product-list__rating">{{ item.rating.rate }}</span>
                                <i class="pi pi-star-fill product-list__star"></i> -->
                                <div class="product-list__rating">
                                    <p-rating [(ngModel)]="item.rating.rate" [readonly]="true" [cancel]="false" />
                                </div>
                            </div>
                            <p-tag class="product-list__tag" severity="success" value="Stock" />
                        </div>
                    </div>
                    <div class="product-list__actions">
                        <div class="product-list__price">{{ '€' + item.price }}</div>
                        <div class="product-list__buttons">
                            <p-button [routerLink]="['/product', item.id]" icon="pi pi-shopping-cart" class="product-list__buy-button" label="Buy Now" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" />
                            <!-- <p-button icon="pi pi-heart" [outlined]="true" class="product-list__wishlist-button" /> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
