<div class="dashboard">
    <div class="dashboard__grid">
        <div class="dashboard__card dashboard__card--orders">
            <div class="dashboard__header">
                <div>
                    <span class="dashboard__title">Orders</span>
                    <div class="dashboard__value">152</div>
                </div>
                <div class="dashboard__icon-container">
                    <i class="pi pi-shopping-cart dashboard__icon"></i>
                </div>
            </div>
            <div class="dashboard__footer">
                <span class="dashboard__change dashboard__change--positive">24 new</span>
                <span class="dashboard__detail">since last visit</span>
            </div>
        </div>

        <div class="dashboard__card dashboard__card--revenue">
            <div class="dashboard__header">
                <div>
                    <span class="dashboard__title">Revenue</span>
                    <div class="dashboard__value">$2,100</div>
                </div>
                <div class="dashboard__icon-container">
                    <i class="pi pi-map-marker dashboard__icon"></i>
                </div>
            </div>
            <div class="dashboard__footer">
                <span class="dashboard__change dashboard__change--positive">%52+</span>
                <span class="dashboard__detail">since last week</span>
            </div>
        </div>

        <div class="dashboard__card dashboard__card--customers">
            <div class="dashboard__header">
                <div>
                    <span class="dashboard__title">Customers</span>
                    <div class="dashboard__value">28,441</div>
                </div>
                <div class="dashboard__icon-container">
                    <i class="pi pi-inbox dashboard__icon"></i>
                </div>
            </div>
            <div class="dashboard__footer">
                <span class="dashboard__change dashboard__change--positive">520</span>
                <span class="dashboard__detail">newly registered</span>
            </div>
        </div>

        <div class="dashboard__card dashboard__card--comments">
            <div class="dashboard__header">
                <div>
                    <span class="dashboard__title">Comments</span>
                    <div class="dashboard__value">152 Unread</div>
                </div>
                <div class="dashboard__icon-container">
                    <i class="pi pi-comment dashboard__icon"></i>
                </div>
            </div>
            <div class="dashboard__footer">
                <span class="dashboard__change dashboard__change--positive">85</span>
                <span class="dashboard__detail">responded</span>
            </div>
        </div>
    </div>

</div>

<!-- <div class="order-list">
    <p-orderList 
        [value]="products" 
        [listStyle]="{ height: '25rem' }"
        [dragdrop]="true" 
        filterBy="title"
        header="List of Products"
        controlsPosition="right"
        >
        <ng-template let-product pTemplate="item">
            <div class="order-list__item">
                <img 
                    src="{{product.image}}" 
                    [alt]="product.title" 
                    class="order-list__item-image" />
                <div class="order-list__item-info">
                    <span class="order-list__item-name">{{ product.title }}</span>
                    <div class="order-list__item-category">
                        <i class="pi pi-tag order-list__icon"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="order-list__item-price">
                    {{ '$' + product.price }}
                </span>
            </div>
        </ng-template>
    </p-orderList>

</div> -->

<div class="product-container">
    <div class="product-list">
        <p-listbox 
        [options]="products" 
        optionLabel="title"
        (onChange)="onProductSelect($event)"
        [filter]="true"
        filterBy="title"
        [listStyle]="{'max-height': '600px',}" 
        [(ngModel)]="selectedProduct" 
        >
        <ng-template pTemplate="header">
            <h3>Product picker</h3>
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-list__item">
                <img 
                    src="{{ product.image }}" 
                    alt="{{ product.title }}" 
                    class="product-list__image" 
                />
                <div class="product-list__details">
                    <span class="product-list__title">{{ product.title }}</span>
                    <div class="product-list__category">
                        <i class="pi pi-tag product-list__icon"></i>
                        <span>{{ product.category }}</span>
                    </div>
                </div>
                <span class="product-list__price">
                    {{ '$' + product.price }}
                </span>
            </div>
    
        </ng-template>
    </p-listbox>
    
    </div>
    <div class="product-view">
    <h3 class="product-view__title">Product details</h3>
        <app-product-detail *ngIf="selectedProduct" [product]="selectedProduct"></app-product-detail>

    </div>

</div>


